@import '../public/assets/sass/main.scss';

.app-container {
	padding: 1rem 2rem;
	background-color: #faf9f9;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@media only screen and (max-width: $bp-medium) {
		justify-content: flex-start;
	}
	@media only screen and (max-width: $bp-small) {
		justify-content: center;
	}
}

.no-products {
	padding: 2rem;
	border-bottom: 0.4rem solid #c5c4c4;
  }
  